{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Send messages
{% endblock %}

{% block content %}
<div style="text-align: center;">Section 2: Round {{ player.round_number }}</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
</div><br>

    <style>
        table, td, th {
        border: 1px solid black;
        height:30pt;
        padding: 15pt;
        vertical-align:text-top;
        }

        .td {width: 315px;}
        
        table {
        border-collapse: collapse;
        margin:auto;
        }
    </style>

    <p><strong>You can now communicate with this newly matched persons.</strong></p>

    <p>Selected issue: <strong style="color: green;">{{ issue }}</strong></p>

    <table>
        <tr>
            <td class = "td">
                <h3>Person 1: {{ p1_name }} </h3><br>
                <p>The opinion of this person on the selected issue is <strong style="color: green;">{{ p1_answer }}</strong> </p>
                <p>
                    <strong>You can select the message below that you would like to send:</strong><br>  
                    (You have to select one message even if none of them makes sense to you now.)
                </p>
                <p style="text-align: center;">
                    "My opinion on this issue is {{ my_answer }}. " + 
                    {% formfield player.message_step3_1 label="" %}
                </p>
            </td>
            <td class = "td">
                <h3>Person 2: {{ p2_name }} </h3><br>
                <p>The opinion of this person on the selected issue is <strong style="color: green;">{{ p2_answer }}</strong> </p>
                <p>
                    <strong>You can select the message below that you would like to send:</strong><br> 
                    (You have to select one message even if none of them makes sense to you now.)
                </p>
                <p style="text-align: center;">
                    "My opinion on this issue is {{ my_answer }}. " + 
                    {% formfield player.message_step3_2 label="" %}
                </p>
            </td>
            <td class = "td">
                <h3>Person 3: {{ p3_name }} </h3><br>
                <p>The opinion of this person on the selected issue is <strong style="color: green;">{{ p3_answer }}</strong> </p>
                <p>
                    <strong>You can select the message below that you would like to send:</strong><br> 
                    (You have to select one message even if none of them makes sense to you now.)
                </p>
                <p style="text-align: center;">
                    "My opinion on this issue is {{ my_answer }}. " + 
                    {% formfield player.message_step3_3 label="" %}
                </p>
            </td>
        </tr>
    </table>

    {% next_button %}

{% endblock %}
