{% extends "otree/Page.html" %}
{% load otree %}

{% block global_styles  %}
{% endblock %}
{% block global_scripts  %}

<script>

    $( document ).ready( doResults ); // fill my_results on page load then refill on any slider change

    var opBar01 = $('#otherplayer01 .form-range');
    var opBox01 = $("#otherplayer01 .form-check-input");

    var opBar02 = $('#otherplayer02 .form-range');
    var opBox02 = $("#otherplayer02 .form-check-input");

    var opBar03 = $('#otherplayer03 .form-range');
    var opBox03 = $("#otherplayer03 .form-check-input");

    var opBar04 = $('#otherplayer04 .form-range');
    var opBox04 = $("#otherplayer04 .form-check-input");

    var opBar05 = $('#otherplayer05 .form-range');
    var opBox05 = $("#otherplayer05 .form-check-input");

    var opBar06 = $('#otherplayer06 .form-range');
    var opBox06 = $("#otherplayer06 .form-check-input");

    var opBar07 = $('#otherplayer07 .form-range');
    var opBox07 = $("#otherplayer07 .form-check-input");

    var opBar08 = $('#otherplayer08 .form-range');
    var opBox08 = $("#otherplayer08 .form-check-input");

    var opBar09 = $('#otherplayer09 .form-range');
    var opBox09 = $("#otherplayer09 .form-check-input");

    var opBar10 = $('#otherplayer10 .form-range');
    var opBox10 = $("#otherplayer10 .form-check-input");

    var opBar11 = $('#otherplayer11 .form-range');
    var opBox11 = $("#otherplayer11 .form-check-input");

    var opBar12 = $('#otherplayer12 .form-range');
    var opBox12 = $("#otherplayer12 .form-check-input");

    var opBar13 = $('#otherplayer13 .form-range');
    var opBox13 = $("#otherplayer13 .form-check-input");

    var opBar14 = $('#otherplayer14 .form-range');
    var opBox14 = $("#otherplayer14 .form-check-input");

    var opBar15 = $('#otherplayer15 .form-range');
    var opBox15 = $("#otherplayer15 .form-check-input");

    opBar01.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer01 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox01.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer01 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar02.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer02 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox02.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer02 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar03.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer03 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox03.on('click ', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer03 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar04.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer04 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox04.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer04 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar05.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer05 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox05.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer05 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar06.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer06 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox06.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer06 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar07.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer07 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox07.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer07 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar08.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer08 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox08.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer08 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar09.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer09 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox09.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer09 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar10.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer10 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox10.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer10 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar11.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer11 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox11.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer11 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar12.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer12 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox12.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer12 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar13.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer13 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox13.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer13 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar14.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer14 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox14.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer14 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    opBar15.on('change', function(){
        var rating1 = $(this).val();
        $("#otherplayer15 .form-check-input:checked").each(function(){
                $(this).val(rating1)
        });
    })
    opBox15.on('click', function () {
        if (this.checked) {
            var rating1 = $('#otherplayer15 .form-range').val();
            $(this).val(rating1);
        } else {
            $(this).val('-1');
        }
    });

    $( "#ratings-container .form-range" ).change(function() {
        doResults()
    });
    $( "#ratings-container .form-check-input" ).change(function () {
        doResults()
    });

    function doResults() {

        var result1 = "";
        $('#ratings-container input[type=range]').each(function () {
            result1 = result1 + $(this).val() + ",";
        });
        $("#my_ratings").val(result1);

        var result2 = "";
        $('#ratings-container input[type=checkbox]').each(function() {
            result2 = result2 + $(this).val() + ",";
        });
        $( "#shared_ratings" ).val(result2);


    }
</script>
{% endblock %}
